<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Elena Kusevska Contact Me</title>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/theme.css') }}">

        <script src="http://code.jquery.com/jquery-1.8.3.min.js"></script>

        <script>
            $(document).ready(function() {
                $('form').submit(function (e) {
                    var url = "{{ url_for('contactme') }}";
                    $.ajax({
                        type: "POST",
                        url: url,
                        data: $('form').serialize(),
                        success: function (data) {
                            console.log(data)
                            document.getElementById('confirmationid').innerHTML = data.status

                            document.getElementById('name').value = ""
                            document.getElementById('email').value = ""
                            document.getElementById('subject').value = ""
                            document.getElementById('message').value = ""
                        }
                    });
                    e.preventDefault();
                });

                // Inject CSRF token into AJAX request.
                $.ajaxSetup({
                    beforeSend: function(xhr, settings) {
                        if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                            xhr.setRequestHeader("X-CSRFToken", "{{ form.csrf_token._value() }}")
                        }
                    }
                })
            });
        </script>
            

    </head>
    <body>
        <div class="main_divs">

        </div>

        <div class="main_divs">
            <h4> Contact Me </h4>

            <div class="contact_form_div">
                <form action="{{ url_for('contactme') }}" method="post">
                    {{ form.hidden_tag() }}
                    {{ form.name.label() }}
                    <br>
                    {{ form.name(class="text_input") }}
                    <br>
                    {{ form.email.label() }}
                    <br>
                    {{ form.email(class="text_input") }}
                    <br>
                    {{ form.subject.label() }}
                    <br>
                    {{ form.subject(class="text_input") }}
                    <br>
                    {{ form.message.label() }}
                    <br>
                    {{ form.message(class="message_box") }}
                    <br>
                    <input type="submit" value="Send"/>
                </form>

                <h4 id="confirmationid">&nbsp;</h4>
            </div>

        </div>
    </body>
</html>