<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Elena Kusevska</title>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/theme.css') }}">

        <!-- Google Tag Manager -->
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-56HV5JX');</script>
        <!-- End Google Tag Manager -->
    </head>
    <body>
        <!-- Google Tag Manager (noscript) -->
        <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-56HV5JX"
        height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <!-- End Google Tag Manager (noscript) -->
        <div class="main_divs">
            <div style="display: flex; justify-content:flex-end">
                <div class="button"> 
                    <a class="linktext" href="https://elenakusevska.com">   
                    <b> alink 1 </b> </a>
                </div> 
                <div class="button"> <a class="linktext" href="https://elenakusevska.com">   
                    <b> alink 2 </b> </a>
                </div> 
                <div class="button"> <a class="linktext" href="{{ url_for('contactme') }}">   
                    <b> Contact me </b> </a>
                </div> 
            </div>
            <div>
                <h1> Elena Kusevska </h1>
                <h4> Python Developer (Backend, Data) | Scientific Computing </h4>
                <p> (Portfolio - in progress...) </p>
            </div>
        </div>
        <div class="main_divs">
        <h4> About me </h4>
            <ul> 
                Some bullets
            </ul>
        </div>
    </body>
</html>
